.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
  }
  .app-badge {
    height: 3rem;
  }
  .text-gradient {
    background: -webkit-linear-gradient(#2937f0, #9f1ae2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .icon-feature {
    font-size: 4rem;
  }
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
